.car-show {
  background-color: white;
  max-height: 800px;
  width: 100%;
  display: flex;
}

.car-padding {
  padding: 24px;
}

.car-show-image {
  width: 50%;
  padding: 20px;
  img {
    width: 100%;
  }
}

.car-info {
  width: 50%;
  padding: 40px;
  position: relative;
  h3 {
    font-size: 48px;
    margin: 0px;
  }
}

.light {
  font-weight: normal;
}

.plate-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  border: 1px solid black;
  padding: 28px;
}
