.cars-list {
  overflow: auto;
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.car-card {
  display: flex;
  padding: 20px;
  background-color: white;
  margin: 20px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  transition: ease-in 0.25s;
  height: 150px;
  &:hover {
    transform: scale(1.01);
  }
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    color: black;
  }
  p {
    font-size: 24px;
    text-decoration: none;
    color: black;
  }
  .owner {
    font-weight: bold;
    color: black;
  }
}

.car-heading {
  display: flex;
}

.car-image {
  height: 100%;
  img {
    height: 100%;
  }
}

.card-content {
  margin-left: 20px;
}